{% extends 'base.html' %}

{% block content %}
    <form action="{% url 'polls:user_poll_vote' pk=form.instance.id %}" method="post">
        {% csrf_token %}
        <h2>{{ form.poll_question }}</h2>
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>

    <p>You can vote until: <b>{{ form.poll_expiration_date }}</b></p>
{% endblock %}