{% extends 'base.html' %}

{% block content %}
    <div class="wrapper">
        <h2>Result of poll "{{ poll.title }}": </h2>
        <div id="piechart">
        </div>
        <div id="barchart_values">
        </div>
    </div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawPieChart);
google.charts.setOnLoadCallback(drawBarChart);

// Draw the chart and set the chart values
function drawPieChart() {
    var data = google.visualization.arrayToDataTable([
        ['vote', 'number of votes'],
        {% for poll_opiton in poll.polloptions.all %}
            ['{{ poll_opiton.name }}', {{ poll_opiton.votes }}],
        {% endfor %}
    ]);

    // Optional; add a title and set the width and height of the chart
    var options = {'title': '{{ poll.title }}', 'width': 500, 'height': 500, sliceVisibilityThreshold: 0};

    // Display the chart inside the <div> element with id="piechart"
    var chart = new google.visualization.PieChart(document.getElementById('piechart'));
    chart.draw(data, options);
}

function drawBarChart() {
    var data = google.visualization.arrayToDataTable([
         ['vote', 'number of votes'],
          {% for poll_opiton in poll.polloptions.all %}
              ['{{ poll_opiton.name }}', {{ poll_opiton.votes }}, ],
          {% endfor %}

      ]);
    var options = {
        title: "{{ poll.title }}",
        width: 600,
        height: 400,
        sliceVisibilityThreshold:0,
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.BarChart(document.getElementById("barchart_values"));
      chart.draw(data, options);

}
</script>
{% endblock %}