{% extends 'base.html' %}

{% block content %}
    <h2>Ups... I have a trouble</h2>
    <h3>Error 500</h3>
    <p>Sorry but I'm not fell well. I will try to recover myself, so please try me later.</p>
{% endblock %}