{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Polls</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
 <nav class="navbar navbar-light bg-faded bg-inverse" id="nav-header">

  <a class="navbar-brand" href="{% url 'users:index' %}">
    <img alt="Polls" src="{% static 'poll_logo.png' %}">
  </a>
  <h3 id="nav-header-text">Let's vote!</h3>

   {% if user.is_authenticated %}
   <form action="{% url 'logout' %}"><button type="submit" class="btn btn-primary btn-sign-out">Sign out</button></form>
   {% endif %}

</nav>
 <div class="panel-body">
 {% block content %}

 {% endblock %}
 </div>
</body>
</html>