{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>Welcome</h2>
<p>
    This service provides you the ability to vote in prepare polls. Remember your vote maters!
</p>

<p>
   To make vote you must login in using Google+ account. <br />
   <a href="{% url 'social:begin' 'google-oauth2' %}"><img src="{% static 'btn_google_signin_dark_normal_web.png' %}" alt="log in with google+"/>  </a>
</p>

<footer>
    <p>Authors: Michał Dąbrowski, Paweł Drapiewski</p>
</footer>
{% endblock %}