#nav-header {
    background-color: #e3f2fd;
}

#nav-header-text {
    color: #6193c5;
    font-weight: bold;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.polls-list {
    /*outline: 1px solid #e3f2fd;*/
    border-radius: 10px;
    background: #f3f3f3;
    margin: 5px;
    padding: 5px;
    border: 1px solid #a9dcfd;
}

.polls-list .header {
    color: #2e89c5;
    border-bottom: 1px solid #a9dcfd;
}

.btn-sign-out {
    position: absolute;
    right: 5px;
    top: 10px;
    border: 5px;
}
.wrapper {
    margin: auto;
    width: 50%;
    padding: 10px;
}