{% extends 'base.html' %}
{% load render_table from django_tables2 %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>User homepage</title>
</head>
<body>
 <h2>Hello, {{ user.username }}!</h2>

 <div class="poll-active polls-list">
     <h3 class="header">Active polls:</h3>
     {% if actual_polls.data %}
       {% render_table actual_polls %}
     {% else %}
        <div class="poll-warring">There is no polls.</div>
     {% endif %}
  </div>


  <div class="poll-ended polls-list">
      <h3 class="header">Polls that ended:</h3>
      {% if ended_polls.data %}
          {% render_table ended_polls %}
      {% else %}
          <div class="poll-warring">There is no polls.</div>
      {% endif %}

 </div>
</body>
{% endblock %}